@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
}

body {
    text-align: center;
}

h1, 
h3, h4 {
    background-color: black;
    color: white;
}

h1, 
h2, 
h3, p strong {
    font-family: 'Montserrat', sans-serif;
}

p, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 163px;
    padding: 9% 0 9%;
}

h2 {
    font-size: 148px;
}

h3 {
    font-size: 50px;
    padding: 2% 0 6%;
}

h4 {
    font-size: 44px;
    padding: 4% 0 4%;
}



p, h2 {
    color: black;
    background-color: white;
}

p {
    font-size: 45px;
}

